/* 
    * This is the CSS for homepage for the Gamathon, this is where magic happens ;)

    * Author: Arihant Awasthi  awasthiarihant@gmail.com
    * version: 0.9
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', 'sans-serif'; 
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, rgb(12, 12, 12), #3b3939);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.carousel {
    position: relative;
    width: 100%;
    height: 35rem;
    /* background-image: url('./Site_Material/carousel-img1-mobile.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-img {
    width: 100%;
    height: 100%;
    display: block;
}

.desktop-img {
    display: none;
}

.container {
    margin: 0.8em 1.8em;
}

/* ----NOTIFICATION BLOCK ENDS------ */

.tournament h2{
    color: white;
    font-size: 30px;
}

.gamehubs {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}

.game-hub {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.game-card-container::before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,#ec3333,#520808);
    margin: -1.0rem 0 0 1.8rem; 
}

/* GAME CARD STARTS */

.game-card-container {
    margin: 1.5rem 0 0 -1.8rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.game-card {
    margin: 0 0 1.2rem 1.8rem;
    background-color: #0d0d0d;
    color: white;
    width: 40%;
    height: 13rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-size: 12px;
}

@media only screen and (min-width: 540px) {
    .game-card {
        width: 25%;
        height: 12rem;
    }
}

@media only screen and (min-width: 670px) {
    .game-card {
        width: 7rem;
    }
}

.game-card > div {
    height: 90%;
    width: 100%
}

.game-card:hover {
    transform: translateY(-5px);
    transition: transform ease 0.2s;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.game-img {
    height: 100%;
    width: 100%;
    /* background-image: url(./Site_Material/logo.png); */
    background-size: cover;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.game-name {
    font-size: 13px;
    margin: 2px 0 2px 7px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.5rem;
}

/* GAME CARD ENDS */

.trending {
    color: white;
    margin-top: 1.5rem;
}

.tourney-card-container::before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,#ec3333,#520808);
    margin: -1.0rem 1.8rem 1.5rem 1.8rem;  
}

/* TOURNAMENT CARD STARTS */

.tourney-card-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1.8rem 0 -1.8rem;
}


/* Tourney card */
.tourney-card {
    margin: 0 0 1.5rem 1.8rem;
    width: 100%;
    background: linear-gradient(to right, rgb(17, 17, 17), #363434);
    color: white;
    /* height: 33rem; */
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.tourney-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
    transition: transform ease 0.2s;
}

.tourney-card-image {
    display: flex;
    justify-content: space-between;
    background-image: url(./Site_Material/profile-back.jpg);
    -webkit-mask-image: linear-gradient(0deg,transparent 0%,#000 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
}

.tourney-card-time {
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;
    font-size: 12px;
    padding: 5px 6px 5px 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
}

.tourney-card-platform {
    margin-top: 11.6rem;
    background-color: #262626;
    padding: 4px 6px 0 5px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.9;
}

.tourney-card-title {
    margin: 1.5rem;
    font-size: 20px;
    font-weight: bold;
}

.tourney-card-type {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.tourney-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
    margin-top: 0.8rem;
}

.tourney-card-open {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fe0000;
    border-radius: 8px;
    font-size: 11px;
    text-transform: uppercase;
}

.tourney-card-entry {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fe0000;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.tourney-card-organizer-sponsor-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.tourney-card-organizer {
    width: 50%;
    padding: 5px;
    display: flex;
}

.organizer-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-image: url(./Site_Material/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.organizer-info {
    font-size: 11px;
    margin: 0.4rem 0 0 0.5rem;
}

.organizer {
    text-transform: uppercase;
    font-size: 14px;
}

.organizer-name {
    font-size: 14px;
    font-weight: bold;
}

.tourney-card-sponsor {
    width: 50%;
    padding: 5px;
    display: flex;
}

.sponsor-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-image: url(./Site_Material/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sponsor-info {
    font-size: 11px;
    margin: 0.4rem 0 0 1.0rem;
}

.sponsor {
    text-transform: uppercase;
    font-size: 14px;
}

.sponsor-name {
    font-size: 14px;
    font-weight: bold;
}

.tourney-card-prizepool {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-left: 2rem;
    border-radius: 4px;
}

.prize {
    font-size: 14px;
    font-weight: lighter;
    float: left;
    margin-top: 0.3rem;
    color: white
}

.tourney-card-registration {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0.5rem 0.3rem;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to left, rgb(41, 40, 40), #262626);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* TOURNAMENT CARD ENDS */

@media only screen and (min-width: 540px) {
    .tourney-card-info {
        display: flex;
        flex-direction: row;
    }

    .tourney-card-open {
        width: 49%;
        margin-right: 1%;
        border-radius: 5px;
        font-size: 12px;
    }

    .tourney-card-entry {
        width: 49%;
        border-radius: 5px;
        font-size: 12px;
    }
}

.number{
    font-weight: bold;
}

.circle-container {
    display: flex;
    position: absolute;
    top: 36rem;
    left: 55%;
    display: none;
}

.circle1, .circle2, .circle3 {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
    align-items: bottom;
    margin-right: 0.5rem;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media only screen and (min-width: 1048px) {
    .tourney-card {
        width: 14rem;
    }

    .game-card {
        width: 8rem;
    }
}

@media only screen and (min-width: 640px) {
    .carousel {
        height: 38rem;
        /* background-image: url('./Site_Material/carousel-img1-desktop.jpeg'); */
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .img-container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .desktop-img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: 0% 70%;
    }

    .mobile-img {
        display: none;
    }
}

.registration-status {
    color: #64d13e;
    text-shadow: 0 0 6px rgba(52,200,0,.51);
}