{% extends 'slingshot/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'wallet/team_wallet.css' %}">
    {% endblock %}
    <meta name="robot" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <title>{% block title %}{{ team.name }} Wallet | Gamathon{% endblock %}</title>
</head>
<body>
{% block body %}
    <div class="container">
        <div class="history-wallet-wrapper">
            <div class="team-player-wallet-transfer-wrapper">
                <div class="team-wallet-transfer">
                    <div class="team-wallet-head"><span class="team-name-head">{{ team.name }}</span> Shared Team Wallet</div>
                    <div class="line"></div>
                    <div class="team-wallet-current-wallet">Current Balance: <span class="team-wallet-current" style="font-weight: bold;">&#8377 {{ team.wallet }} INR</span></div>
                    <div class="team-wallet-transfer-content">
                        <div class="team-wallet-transfer-head">
                            Transfer To Team
                        </div>
                        <div class="team-wallet-transfer-info">
                            <p>You can transfer money from your own personal wallet to the shared team wallet. Only team captains can distribute money from the team wallet to members. </p>
                            <p>You currently have <span class="user-wallet-current" style="font-weight: bold;">&#8377 {{ user.wallet }} INR</span> available to transfer in your personal wallet. </p>
                            
                            <form action="#" method="post" class="team-wallet-transfer-form">
                                {% csrf_token %}
                                <div class="amount-input-field">
                                    <div class="rupee-icon">&#8377</div> 
                                    <input type="number" name="team-transfer-amt" value="0" class="transfer-input">
                                    <div class="INR">INR</div>
                                </div>
                                <div class="warning">You must specify a valid amount to transfer.</div>
                                <button class="team-transfer-btn">Transfer Money</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            
            {% if request.session.username == team.captain %}
                <div class="player-transfer">
                    <div class="player-transfer-head">Transfer to Player</div>
                    <div class="player-transfer-info">
                        <p>As a team captain, you can distribute money from the shared team wallet to other members. </p>
                        <p>There is currently <span class="team-wallet-current2">&#8377 {{ team.wallet }} INR</span> available in the team wallet. </p>
                        <form action="" method="post" class="player-transfer-form">
                            {% csrf_token %}
                            <select class="player-transfer-options" required>
                                <option value="">Choose a Member</option>
                            {% for member in members %}
                                <option value="{{ member.username }}">{{ member.username }}</option>
                            {% endfor %}
                            </select> 
            
                            <div class="amount-input-field">
                                <div class="rupee-icon">&#8377</div>
                                <input type="number" name='member-transfer-amt' value="0" class="transfer-input">
                                <div class="INR">INR</div>
                            </div>
                            <div class="warning">You must specify a valid amount to transfer.</div>
                            <button class="player-transfer-btn">Transfer Money</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="transaction-history">
                <div class="transaction-history-head">Transaction History</div>
                <div class="line"></div>
                <div class="transaction-history-content">
                    {% for deposit in deposits %}
                        <div class="trans-history-content">{{ user.username }} {{ deposit|safe }}</div> 
                    {% endfor  %}

                    {% for transfer in transfers %}
                        <div class="trans-history-content">{{ user.username }} transferred &#8377 {{ transfer.amount }} on {{ transfer.date }}</div> 
                    {% endfor %}

                    {% if deposits|length == 0 and transfers|length == 0 %}
                        Nothing to see here. Looks like you have not made any transactions yet. 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'wallet/team_wallet.js' %}"></script>
{% endblock %}
</html>