{% extends 'slingshot/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
    <link rel="stylesheet" href="{% static 'slingshot/500.css' %}">
    {% endblock %}
    <title>{% block title %} 404 Not Found | Gamathon{% endblock %}</title>
</head>
{% block body %}
    <div class="bg-image"></div>
    <div class='container'>
        <div class="error-container">
            <div class="error-logo-img">
            </div>
            <div class="error-head">500 Internal Server Error<br>
                <span style="font-size: 20px">Well, that's embarassing :(</span>
            </div>
            <div class="error-desc">They come and they go but they won't hurt you bro!</div><br>
            <a href="{% url 'index' %}" class="return-btn">Take Me Back</a>
        </div>
    </div>
{% endblock %}
</html>