*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body {
    background: linear-gradient(to left, rgb(12, 12, 12), #3b3939);
}

.container {
    margin: 0.8rem 1.5rem;
}

/* ----NOTIFICATION BLOCK STARTS------ */
.notify-div {
    display: none;
    position: absolute;
    top: 2rem;
    right: -100%;
    z-index: 3;
    align-items: right;
    padding: 0.5rem 1rem;
    width: 20rem;
    background-color: green;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.notify-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.notify-close {
    color: white;
    cursor: pointer;
}

.notify-heading-content {
    font-size: 20px;
    color: white;  
    font-weight: bold;
}

.notify-message {
    font-size: 16px;
    color: white;
}

.register-modal-content{
    display: none;
    padding: 1rem;
}

.login-modal-content {
    background: linear-gradient(to bottom, rgb(40, 40, 49), rgb(10, 10, 10));
    border-radius: 4px;
    margin: 5rem 0rem 0rem 0rem;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    transform: translate(0rem, 0rem)
}

.login-modal-form {
    display: flex;
    flex-direction: column;
    color: white;
}

.modal-heading {
    text-align: center;
    text-transform: uppercase;
    margin: 0.5rem 0 2rem 0;
    color: whitesmoke;
    font-weight: bold;
}

.modal-close {
    color: whitesmoke;
    text-align: right;
    margin: 1rem 0.5rem 0 0;
    padding: 0.5rem 0.3rem 0 0.4rem;
    cursor: pointer;
}

.modal-img {
    background-image: url('./Site_Material/logo.png');
    height: 6rem;
    width: 6rem;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.name-head {
    font-size: 13px;
    margin: 1.5rem 0 0.5rem 1rem;
    text-transform: uppercase;
}

.bg-image {
    position: absolute;
    opacity: 0.7;
    -webkit-mask-image: linear-gradient(-110deg,transparent 10%,#000 90%);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-position: top;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
    background-image: url('./Site_Material/site-bg.jpg');
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #3e4554 inset !important;
    -webkit-text-fill-color: white;
}

.modal-heading {
    margin-top: 1rem;
}

input:focus {
    outline-width: 0;
    border: 1px solid rgb(19, 196, 19);
}

.username-field {
    margin: 0 1rem;
    border-radius: 6px;
    border: 0;
    height: 40px;
    padding-left: 2.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    background-color: #3e4554;
    color: white;
}

.pass-head {
    font-size: 13px;
    margin: 2rem 0 0.5rem 1rem;
    text-transform: uppercase;
}

.pass-field {
    margin: 0 1rem 0rem 1rem;
    border-radius: 6px;
    border: 0;
    height: 40px;
    padding-left: 2.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    background-color: #3e4554;
    color: white;
}

.login-modal-button {
    width: 5rem;
    margin: 2rem 1rem 1.5rem 1rem;
    padding: 8px;
    border-radius: 2px;
    border: 0;
    color: whitesmoke;
    background-color: #ec3333;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
}

.reg-reminder {
    text-align: right;
    padding: 0 1rem 1.2rem 0;
    color: whitesmoke;
    font-size: 13px;
}

.login-modal-button:hover {
    background-color: #b62626;
}

@media only screen and (min-width: 1035px) {
    .login-modal-content {
       margin-left: 35%;
       margin-top: 10rem;
       width: 30%;
    }

    .login-modal-button {
        margin-bottom: 3rem;
    }
}

.top-shadow {
    height: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ec3333;
    box-shadow: 0 0 3px 0 #fa7171;
    transition: all 0.1s ease-in-out;
}