{% extends 'slingshot/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'organize/draft_tourney.css' %}">
{% endblock %}

{% block title %} Organizer Prortal(Beta) | Gamathon {% endblock %}

{% block body %}
    <div class="container">
        <h2 class="tour-heading">{{ tour.name }}</h2>
        <form action="" class="send-id-pass" method="post">
            {% csrf_token %}
            <select name="stage" id="stage-select">
                <option value="{{ stage.stage_name }}">{{ stage.stage_name }}</option>
            </select>

            <select id="group-select">
                {% for group in groups %}
                    <option value="{{ group.round_name }}">{{ group.round_name }}</option>
                {% endfor %}
            </select>

            <div class="room-id-field">Room ID:</div>
            <input type="text" name='room-id' class="room-id" placeholder="Enter Room ID...">

            <div class="m-pass-field">Password:</div>
            <input type="text" name="passowrd" class="password" placeholder="Enter Password...">

            <div class="time-field">Time:</div>
            <input type="text" name="time" class="time" placeholder="Enter Time...">
            <br>
            <button type="submit" class="send-roomid-pass">Send Room Id and Password</button>
        </form>
    </div>
    {% block javascript %}
        <script src="{% static 'organize/draft_tourney.js' %}"></script>
    {% endblock %}
{% endblock %}