{% extends 'slingshot/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'tourney/choose_team.css' %}">
    {% endblock %}
    <meta name="robot" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <title>{% block title %} Choose Players | {{ team.name }} | Gamathon{% endblock %}</title>
</head>
{% block body %}    
    <!-- Create Team validation Modal -->
    <div class="bg-create-team-modal">
        <div class="create-team-modal-content">
            <div class="create-team-modal-close"><i class="fa fa-times"></i></div>
            <div class="modal-heading">Make Your Own Team</div>
            <div class="info"><p>Teams are the best way to experience Gamathon. Your team will have a dedicated team profile page showcasing your team statistics, leaderboard status and more.</p>

                    <br><p>Once you have created your team you can directly invite your friends or send this Join Code so that they can join your team and start competing in larger team tournaments.</p>
            </div>

            <form action="#" id="create-team-form" class="create-team-modal-form" method="POST">
                {% csrf_token %}
                <div class="name-head">Team Name</div>
                <input type="input" name="team-name" class="acc-name-field" placeholder="Team Name" autofocus="on" required>
                <div class="name-head">Password / Join Code</div>
                <input type="text" name="join-code" class='acc-name-field' placeholder="Team Join Code" required>
                <button class="create-team-modal-button">Create</button>
            </form>
        </div>
    </div>

    <div class='container'>
        <div class="bg-validate-modal-teamRegister">
            <div class="validate-modal-content-teamRegister">
                <div class="modal-heading">Choose Members</div>
                <input type="hidden" name="request-type" value="get-players">
                <div class="name-head-teamRegister">NOTE: You must be a captain of a team to register.</div>
                <form action="{% url 'tourney' tour.id %}" id="player-select" class="form2" method="post">
                    {% csrf_token %}
                    <div style="color: white; font-size: 13px; margin-top: 0.2rem; margin-bottom: 0.7rem; margin-left: 1rem; margin-right: 1rem;">If you don't see all the players of the team. It's beacuse they <span style="color: red;">haven't</span> added <span style="color: red;">{{ tour.tour_game.fullname }} Account</span> in Gamathon. Tell them to <span style="color: red;">validate their account</span> <a href="{% url 'game' tour.tour_game.name %}" style="color: red;">here.</a></div>
                    <input type="hidden" name="request-type" value="register">
                    <div class="player-container-wrapper">
                        <input type="hidden" class="team-name-input" name='team-name' value='{{ team.name }}'>
                        {% for member in members %}
                            <label class='player-result-container'>
                                {{ member.username }}
                                <div class="members">{{ member.name }}</div>
                                <input type='checkbox' class="member-names" name='players' value='{{ member.username }}'>
                                <span class='player-result-checkmark'></span>
                            </label>
                        {% empty %}
                            <div>You don't have any members currently</div>
                        {% endfor %}
                        <div style="display: flex; justify-content: space-around"; width: 100%"; background-color: black";>
                            <button class="createTeam-modal-nxt-btn" id='register-btn'>Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'tourney/choose_team.js' %}"></script>
{% endblock %}
</html>