{% extends 'slingshot/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}

    {% block metatags %}
        <meta name="description" content="Compete with other players in tournaments to top the Leaderboard. Top 3 players/teams will get exiting rewards.">
        <meta property="og:title" content="Play Online Gaming Tournaments."/>
        <meta property="og:url" content="https://www.gamathon.gg/leaderboard"/>
        <meta property="og:description" content="Compete and Climb your way on the top.">
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'leaderboard/leaderboard.css' %}">
    {% endblock %}
    <title>{% block title %}Leaderboard | Gamathon{% endblock %}</title>
</head>
{% block body %}
    <div class="container">
        <!-- Leaderboard Background -->
        <div class="lead-back"></div>

        <div class="teams-section">
            <div class="team-icon"></div>
            <div class="lead-head">Teams</div>
        </div>

        <div class="sections">
            <ul class='section-tabs'>
                <li class="teams">Top Teams</li>
                <li class="players">Top Players</li>
            </ul>
            <div class="line"></div>
        </div>
        
        <div class="top-team-heading">
            <div class="left-section">
                <div class="s-no-head">S.No.</div>
                <div class="img-name-head">Name</div>
            </div>
            <div class="right-section">
                <div class="win-perc-head">Win%</div>
                <div class="points-head">Points</div>
            </div>
        </div>

        <div class="top-team-table">
            {% for team in teams %}
                <div class="top-team-element">
                    <div class="left-section">
                        <div class="s-no">{{ forloop.counter }}</div>
                        <div class="img-name">
                            <a href="{% url 'team' team.name %}">
                                <div class="team-img" style="background-image: url('/media/{{ team.logo }}');"></div> {{ team.name}}
                            </a>
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="win-perc">{{ team.wins }}</div>
                        <div class="points">{{ team.kills }}</div>
                    </div>
                </div>
            {% empty %}
                <div style="margin: auto; color: rgba(233, 221, 221, 0.7); text-align: center; font-size: 14px;">Oops! There are no teams to show.</div>
            {% endfor %}
        </div>

        <!-- Player Leaderboard -->
        <div class="top-player-table">
            {% for user in users %}
                <div class="top-team-element">
                    <div class="left-section">
                        <div class="s-no">{{ forloop.counter }}</div>
                        <div class="img-name">
                            <a href="{% url 'profile' user.username %}">
                                <div class="team-img" style="background-image: url('/media/{{ user.profile_pic }}');"></div> <div class="user-name">{{ user.username }}</div>
                            </a>
                        </div>
                    </div>
                    <div class="right-section">
                        <div class="win-perc">{{ user.wins }}</div>
                        <div class="points">{{ user.kills }}</div>
                    </div>
                </div>
            {% empty %}
            <div style="margin: auto; color: rgba(233, 221, 221, 0.7); text-align: center; font-size: 14px;">Oops! There are no teams to show.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'leaderboard/leaderboard.js' %}"></script>
{% endblock %}
</html>